body {
  background-color: #111;
  color: #eee;
  font-family: system-ui, sans-serif;
}

h1, h2 {
  color: #fff;
}

select {
  background: #222;
  color: #fff;
  border: 1px solid #555;
}

img {
  border-radius: 6px;
}
select {
  background-color: #222;
  color: #fff;
  border: 1px solid #555;
}

select option {
  background-color: #222;
  color: #fff;
}